<h1 class="text-center m-3">Bienvenue dans l'arène</h1>

<ul>
  <div class="d-flex justify-content-center">
    <div class="card m-2 bg-danger" style="width: 18rem;">
      <div class="card-body">
        <div class="card-text">
          <%= image_tag "/images/yeti.png" %>
          <p class="text-center mt-5" style="font-weight: bolder; color: white">
            Yeti (le méchant!)
          </p>
          <div class="text-center" style="color: white">
            Attention aux baffes
          </div>
        </div>
      </div>
    </div>
  <% @champions.each do |champion| %>
    <% unless champion.name.nil? %>
      <div class="d-flex justify-content-center">
        <div class="card m-2" style="width: 18rem;">
          <div class="card-body">
            <div class="card-text">
              <%= image_tag champion.picture %>
              <p style="font-weight: bolder">
                <%= champion.name %>
              </p>
              <div>
               <%= champion.description %>
              </div>
            </div>
         </div>
       </div>
    <% end %>
  <% end %>
</ul>

<ul>
  <% @weapons.each do |weapon| %>
      <div class="d-flex justify-content-center">
        <div class="card m-2" style="width: 18rem;">
          <div class="card-body">
            <div class="card-text">
              <%= image_tag weapon.picture %>
              <p style="font-weight: bolder">
                <%= weapon.name %>
              </p>
              <div>
               <%= weapon.attack_damage %> dégâts
              </div>
            </div>
         </div>
       </div>
  <% end %>
</ul>

<ul>
  <% @shields.each do |shield| %>
      <div class="d-flex justify-content-center">
        <div class="card m-2" style="width: 18rem;">
          <div class="card-body">
            <div class="card-text">
              <%= image_tag shield.picture %>
              <p style="font-weight: bolder">
                <%= shield.name %>
              </p>
              <div>
               <%= shield.defense %> défense
              </div>
            </div>
         </div>
       </div>
  <% end %>
</ul>


<div class="card m-2 justify-content-center mx-auto p-2 bg-success" style="width: 28rem;">
  <p style="font-weight: bolder" class="text-center">
    Créer un personnage
  </p>
  <%= form_for @champion_player, url: {action: "initialize_fight"}, method: "get" do |f| %>
    <div class="select m-2 p-1">
      <%= collection_select(:champion, :id, @champions, :id, :name) %>
    </div>
    <div class="select m-2 p-1">
      <%= collection_select(:champion, :weapon_name, Weapon.all, :id, :name) %>
    </div>
    <div class="select m-2 p-1">
      <%= collection_select(:champion, :shield_name, Shield.all, :id, :name) %>
    </div>
    <div class="m-2 p-1"> 
      <%= f.button "Passer au combat", type: 'submit' %>
    </div>
  <% end %>
</div>